body {
  background-image: url('banner.jpg');

  background-size:1280px 720px;
  background-repeat:no-repeat;
}
.main
{
background:white;
margin:30%;
}
.signup
{
font-size:30;
text-align:center;
}
.register
{
color:white;
background:black;
text-align:center;
}
button
{
border: none;
color:white;
background:black;
}
input
{
border-radius: 25px;
    background: #d1d1e0;
    
    width:100%;
    
}
