body {
  background-image: url('banner.jpg');
}
.main
{
background:white;
margin:auto;

}
.sign up
{
font-size:36;
text-align:center;
}
.register
{
color:white;
background:black;
text-align:center;
}
button
{
background:black;
}
