body {
  background-image: url('banner.jpg');
  background-size:300px 100px;
}
.main
{
background:white;
margin:80%;
text-align:center;
}
.sign up
{
paddig:80%;
font-size:66;
text-align:center;
}
.register
{
color:white;
background:black;
text-align:center;
}
button
{
color:white;
background:black;
}
